#ourBenefits-blocks_lista {
    list-style: none;
    margin: 0;
    padding: 0; 
}
  
#ourBenefits-blocks_lista li {
    background-image: url("../img/check.png");
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 15%; 
}
  
.blocks {
    width: 29%;
    float: left; 
}
  
.blocks + .blocks {
    margin-left: 6%; 
}
  
.link-block {
    color: $black;
    font-size: $font-size;
    font-style: italic;
    text-decoration: none; 
}